Body {
    background-color: hsl(117, 39%, 55%);
}
          
          
          
          h1 {
            color: #faf5f2;
          
             padding: 20px;
            text-align:center;         
        }
        h2{
            text-align: center;

        }

     