Body {
    background-color: rgb(203, 230, 235);
}
          
          
          
          h1 {
            color: rgb(146, 210, 56);
 background-color: hsl(71, 27%, 8%);         
             padding: 20px;
            text-align:center;         
        }
        h2{
            text-align: center;

        }

     