Body {
    background-color: rgb(86, 16, 160);
}
          
          
          
          h1 {
            color: rgb(31, 47, 8);
 background-color: hsl(71, 27%, 8%);         
             padding: 20px;
            text-align:center;         
        }
        h2{
            text-align: center;

        }

     