Body {
    background-color: rgb(212, 46, 71);
}
          
          
          
          h1 {
            color: rgb(34, 168, 52);
 background-color: hsl(250, 69%, 59%);         
             padding: 20px;
            text-align:center;         
        }
        h2{
            text-align: center;

        }

     