Body {
    background-color: rgb(14, 190, 81);
}
          
          
          
          h1 {
            color: rgb(0, 255, 242);
          
             padding: 20px;
            text-align:center;         
        }
        h2{
            text-align: center;

        }

     